<div class="container-fluid">
  <div class="col-12">
    <img src="../assets/img/cafe.png" class="img-fluid. max-width: 30%" alt="Responsive image">
  </div>
</div>
<br>
<!-- Next Steps -->
<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Región</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>
