
<br>
<style>

  .p1 {

    width: 392px;
    height: 48px;
    left: 98px;
    top: 25px;
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
   }

   .p2{
    position: absolute;
    width: 1244px;
    height: 323px;
    left: 98px;
    top: 103px;

   }

</style>

<div class="container-fluid">
  <div class="col-12">



    <p class="p1">El aroma mágico</p>

  </div>
</div>
<br>
<app-cafes></app-cafes>

<br>
<br>
<div class="container-fluid">
  <div class="col-12">
    <p class="text-center">Contact us: + 3102105253 - info@elaromamagico.com - @elaromamagico</p>
  </div>
</div>
